@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Light theme */
        --background: 255 255 255;
        --foreground: 15 23 42;
        --card: 255 255 255;
        --card-foreground: 15 23 42;
        --secondary-card: 249 250 251;
        --primary: 59 130 246;
        --primary-foreground: 255 255 255;
        --primary-hover: 53 121 229;
        --secondary: 241 245 249;
        --secondary-foreground: 59 130 246;
        --secondary-hover: 235 239 242;
        --muted: 241 245 249;
        --muted-foreground: 100 116 139;
        --accent: 241 245 249;
        --accent-foreground: 30 41 59;
        --destructive: 254 242 242;
        --destructive-foreground: 220 38 37;
        --destructive-outline: 254 202 202;
        --destructive-hover: 245 213 213;
        --success: 16 185 129;
        --success-foreground: 255 255 255;
        --gray-standard: 158, 158, 158;
        --gray-blue: 225 232 246;
        --gray-light:252 252 253;
        --border: 226 232 240;
        --input: 226 232 240;
        --ring: 59 130 246;
        --radius: 0.2rem;
        --dark-blue-primary: 10 15 26;
        --outline-dark-blue: 15 23 42;
        --outline-dark-foreground: 30 41 59;
    }

    .dark {
        /* Dark theme */
        --background: 26 31 46;
        --foreground: 241 245 249;
        --card: 36 43 61;
        --card-foreground: 241 245 249;
        --primary: 59 130 246;
        --primary-foreground: 255 255 255;
        --secondary: 36 43 61;
        --secondary-foreground: 241 245 249;
        --muted: 36 43 61;
        --muted-foreground: 148 163 184;
        --accent: 36 43 61;
        --accent-foreground: 241 245 249;
        --destructive: 239 68 68;
        --destructive-foreground: 255 255 255;
        --success: 16 185 129;
        --success-foreground: 255 255 255;
        --border: 45 53 72;
        --input: 45 53 72;
        --ring: 59 130 246;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-family: 'Inter', system-ui, sans-serif;
    }
    input[type="password"]::-ms-reveal,
    input[type="password"]::-ms-clear {
        display: none;
    }
    input[type="password"]::-webkit-credentials-auto-fill-button {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
}